table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

a:hover {
  opacity: 0.7;
}
